@charset "UTF-8";
 .ball {
     display: none;
     position: fixed;
     border-radius: 3em;
     width: 3em;
     height: 3em;
     box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;
 }

/* Slide 1 : #title */
.gwtcreate-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 339px;
    height: 92px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(img/gwt-create-logo.svg) no-repeat;
}

#title .names {
    padding-top: 50px;
    font-family: 'Crimson Text';
    font-size: 40px;
}

/* Slide 1 : #who */
#who > div {
    display: flex;
    padding: 20px;
}

#who img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#who .twitter {
    display: inline-block;
    width: 24px;
    height: 20px;
    vertical-align: middle;
    background: url(img/twitter.png) no-repeat 0 0;
}

#who .gplus {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url(img/gplus.png) no-repeat 0 0;
}

#who a {
	font-size: 75%;
}

#who > div > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#who .name {
    font-family: "Lobster Two";
    font-size: 50px;
}

#who ul {
    list-style: none;
}

/* Slide 4 : pronunciation */
#pronunciation > div {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.logo {
    width: 600px;
    padding: 50px 20px;
    height: 135px;
}

div.shadow {
    border-radius: 15px;
    box-shadow: 0 0.4em 0.5em rgba(0, 0, 0, 0.3);
}

#pronunciation .text {
    width: 300px;
    font-family: 'Crimson Text';
    font-size: 80px;
    padding: 50px 20px;
    font-style: italic;
}

#jsnibundle > section {
    font-size: 0.8em;
}

#promisesdeferred > section, #promisespipeline > section {
    right: 5px;
    position: absolute;
    top: 0;
    opacity: 0.6;
}
#promisesdeferred .jCode, #promisespyramidofdoom .jCode, #promisespipeline .jCode {
    font-size: 0.8em;
}

.flex-direction-row {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#questionsanswers .jCode {
	font-size: 2em;
}

/* Intellij highlighting */
.back { background-color: #2b2b2b}
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(169,183,198); }
.s1 { color: rgb(106,135,89); }
.s2 { color: rgb(204,120,50); }
.s3 { color: rgb(104,151,187); }
.s4 { color: rgb(128,128,128); }

.js .s4 { color: rgb(204,120,50); }
.s5 { color: rgb(128,128,128); }

new {
  font-size: 0.8em;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  position: absolute;
  padding-left: 0.4em;
  colot: green;
}

new:before {
  content: "new";
}
