@charset "UTF-8";
 .ball {
     display: none;
     position: fixed;
     border-radius: 3em;
     width: 3em;
     height: 3em;
     box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;        
 }
/*********
 * Slides*
 *********/

/* Slide 1 : #title */

.gwtcreate-logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 339px;
    height: 92px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(img/gwt-create-logo.svg) no-repeat;
}

#title .names {
    padding-top: 50px;
    font-family: 'Crimson Text';
    font-size: 40px;
}

/* Slide 1 : #who */
#who > div {
    display: flex;
    padding: 20px;
}

#who img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#who .twitter {
    display: inline-block;
    width: 24px;
    height: 20px;
    vertical-align: middle;
    background: url(img/twitter.png) no-repeat 0 0;
}

#who .gplus {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url(img/gplus.png) no-repeat 0 0;
}

#who a {
	font-size: 75%;
}

#who > div > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#who .name {
    font-family: "Lobster Two";
    font-size: 50px;
}

#who ul {
    list-style: none;
}

/* Slide 4 : pronunciation */
#pronunciation > div {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pronunciation .logo {
    width: 600px;
    padding: 50px 20px;
    height: 135px;
}

#pronunciation .text {
    width: 300px;
    font-family: 'Crimson Text';
    font-size: 80px;
    padding: 50px 20px;
    font-style: italic;
}

#jsnibundle > section {
    font-size: 0.8em;
}

#promisesdeferred > section, #promisespipeline > section {
    left: 40px;
    position: absolute;
    top: 0;
    opacity: 0.6;
}
#promisesdeferred .jCode, #promisespyramidofdoom .jCode, #promisespipeline .jCode {
    font-size: 0.8em;
}