body {
    display: -webkit-box;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    width: 100%;
    height: 100%;
    background-image:
        -webkit-gradient(radial, 50% -4%, 0, 50% 30%, 700, from(rgba(117, 81, 48, 1.0)), to(rgba(48, 28, 22, 1.0)));
    background-image:
        -moz-radial-gradient(50% 10%, circle, rgba(117, 81, 48, 1.0) 0, rgba(48, 28, 22, 1.0) 700px);
    font-family: helvetica;
    font-style: normal;
    text-shadow: 0 0 2px #185a89;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 0.9;
    color: #dc9e14;
    font-size: 180%;
    overflow: hidden;
    position: absolute;
}

h5 {
    font-size: 1.4em;
}

h2 {
    font-size: 2.2em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(147, 167, 197);
    font-weight: bold;
    margin-bottom: 0.1em;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 0 0.02em #EEEEEE, 0.01em 0.01em 0.03em rgba(0, 0, 0, 0.4);
}


.slides {
    height:100%;
    width: 100%;
}

.slides > section {
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),-webkit-transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: -moz-transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),-moz-transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);

}

.slides > section.past {
    /* Linear transition */
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
}
.slides>section.future {
    /* Linear transition */
     -webkit-transform: translate(150%, 0);
     -moz-transform: translate(150%, 0);
     -ms-transform: translate(150%, 0);
     -o-transform: translate(150%, 0);
     transform: translate(150%, 0);
 }

 .code {
     background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
     box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.6) inset;
 }
 .code {
     -moz-box-pack: center;
     background: none repeat scroll 0 0 rgba(122, 135, 234, 0);
     display: -moz-box;
     transition: all 0.8s ease-in-out 0s;
     display: -webkit-box;
     background: rgba(85, 49, 4, 0.82);
 }
 .code {
     font-family: monospace;
     line-height: 1em;
     color: #A6E22E;
 }

 #marker {
     bottom: 10px;
     color: #145FDC;
     font-size: 0.75em;
     padding: 0.2em;
     position: absolute;
     right: 10px;
     text-shadow: 0 0 0.3em #145FDC;
     z-index: 9001;
 }

 ul {
     margin: 0.2em 0;
 }

 ul, ol {
     margin: 1em 0;
     padding: 0 0 0 40px;
 }

 li {
     text-align: left;
 }

 #console {
     background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
     box-shadow: 0 0.4em 0.5em rgba(0, 0, 0, 0.2);
     color: #000000;
     font-family: 'Droid Sans Mono',monospace,monospace;
     font-size: 0.50em;
     left: 0;
     position: absolute;
     text-shadow: none;
     top: 0;
     width: 96%;
     z-index: 9000;
 }
 #console > div:before {
     content: "► ";
 }
 #console > div {
     padding: 0.2em 0.5em;
 }
 #play {
     position: absolute;
     font-size: 1em;
     top: 5px;
     right: 10px;
     color: green;
     cursor: pointer;
 }

 .code, .slide {
 }
 .code-scroll  {
 }
 .code {
     padding-left: 1.4m;
 }

 ul {
     max-width: 750px;
 }
 .ball {
     display: none;
     position: absolute;
     border: solid 2px black;
     border-radius: 40px;
     width: 50px;
     height: 50px
 }
 .red{
     bottom:8em;
     right:1em;
     background: red;
 }
 .blue{
     bottom:4em;
     right:2em;
     background: blue;
 }
 .yellow{
     bottom:6em;
     right:2.7em;
     background: yellow;
 }

 .code-div {
     color: #A6E22E; /*rgb(245, 245, 180);*/
    font-size: 0.8em;
    letter-spacing: -0.06em;
    overflow: hidden;
}
.code-scroll {
    height: auto;
}
.code-scroll {
    overflow: auto;
    position: relative;
}
.code-lines {
    padding: 0.4em;
}

.jKey {
    color: rgb(207, 146, 209);
}
.jLiteral {
    color: rgb(150, 156, 226);
}
.jMethod {
    color: white;
    color: rgb(245, 245, 180);
}
.jControl {
    color:white;
}
.jComment, .jComment .jKey, .jComment .jLiteral, .jComment .jMethod {
    color: rgba(140, 173, 140, 0.83);
}
